.Logo{
    background-color: white;
    padding: 3px;
    height: 80%;
    box-sizing: border-box;
    border-radius: 5px;
}
.Logo img{
    height: 100%;
}
@media(max-width:500px){
    .Logo{
        height: 11%;
    }
}